{% extends 'base.html' %} {% block title %} Turnieje {% endblock %} {% block content %}

<div class="row" style="margin-top:20px; margin-left:20px; margin-right:20px">
    <div class="col-8">
        <h2>Turnieje</h2>
        <p>Naciśnij aby kupić.</p>
        <br>
        <table class="table table-hover table-dark">
            <thead>
            <tr>
                <!-- Your Columns HERE -->
                <th scope="col">Nazwa</th>
                <th scope="col">Cena</th>
                <th scope="col">Ustawienia</th>
            </tr>
            </thead>
            <tbody>
            <!-- Your rows inside the table HERE: -->
            {% for item in items %}
                {% include 'includes/items_modals.html' %}
            <tr>
                <td>{{ item.id }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price }}$</td>
                <td>
                    <button class="btn btn-outline btn-info" data-toggle="modal"
                            data-target="#Modal-MoreInfo-{{ item.id }}">More Info
                    </button>
                    <button class="btn btn-outline btn-success" data-toggle="modal"
                            data-target="#Modal-PurchaseConfirm-{{ item.id }}">Join
                    </button>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}